<launch>
  <arg name="username" default="$(env TWITCH_USERNAME)" />
  <arg name="client_id" default="$(env TWITCH_CLIENT_ID)" />
  <arg name="token" default="$(env TWITCH_TOKEN)" />
  <arg name="channel" default="$(env TWITCH_CHANNEL)" />

  <node name="twitch_bot" pkg="twitch_chat_ros" type="simple_bot.py" output="screen">
    <param name="username" value="$(arg username)"/>
    <param name="client_id" value="$(arg client_id)"/>
    <param name="token" value="$(arg token)"/>
    <param name="channel" value="$(arg channel)"/>
  </node>
</launch>
